* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, FantasqueSansMono Nerd Font Mono;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
  background-color: rgba(20, 27, 30, 0.40);
  /* background-color: transparent; */
  /* border-radius: 10px; */
}

window#waybar.solo {
  background-color: transparent;
}

tooltip {
    background: #313244;
    border-radius: 8px;
}

tooltip label {
    color: #ebdbb2;
    background-color: #45403d;
    border-radius: 8px;
    font-weight: bolder;
}

tooltip * {
    border-radius: 8px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

/*
button {
    Use box-shadow instead of border so the text isn't offset
    box-shadow: inset 0 -3px transparent;
    Avoid rounded borders under each button name
    border: none;
    border-radius: 0;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#workspaces {
  /* margin: 0px 5px 0px 5px; */
}

#workspaces button {
  margin: 0px 0px 0px 3px;

  color: #fdfbf9;
  background-color: #313255;

  border: 2px solid #313255;
  border-radius: 8px;

  font-weight: bolder;
  font-style: normal;

  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  color: #fdfbf9;

  border: 2px solid #fdfbf9;

  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  color: #1e1e2b;
  background-color: #fdfbf9;

  border: 2px solid #1e1e2b;

  transition: all 0.2s ease-in-out;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-power,
#custom-spotify,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,

#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,

#clock {
  color: #8ccf7e;
  background-color: #232a2d;

  border-radius: 8px;
}

#battery {
  color: #67b0e8;
  background-color: #232a2d;

  border-radius: 8px;
}

#battery.charging, #battery.plugged {
  color: #26a65b;
  background-color: #555555;

  font-weight: normal;
}

@keyframes blink {
  to {
      color: #232a2d;
      background-color: #dadada;
  }
}

#battery.critical:not(.charging) {
  color: #f38ba8;
  background-color: #232a2d;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 20;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #000000;
  background-color: #2ecc71;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964B00;
}

#backlight {
  color: #e5c76b;
  background-color: #232a2d;
  
  border-radius: 8px;
}

#network {
  color: #e57474;
  background-color: #232a2d;

  border-radius: 8px;
}

#network.disconnected {
  color: #f53c3c;
  background-color: #555555;
}

#pulseaudio {
  color: #b3b9b8;
  background-color: #232a2d;

  border-radius: 8px;
}

#pulseaudio.muted {
  color: #2a5c45;
  background-color: #232a2d;
}

#wireplumber {
  color: #000000;
  background-color: #fff0f5;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  color: #2a5c45;
  background-color: #66cc99;

  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#custom-power {
  margin-right: 6px;

  color: #c47fd5;
  background-color: #313244; 

  border-radius: 8px;

  font-size: 28px;
  font-weight: bolder;
}

#custom-spotify {
  color: #1db954;
  background-color: #232a2b;

  border-radius: 8px;

  font-weight: bold;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #232a2b;

  border-radius: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
